workflows/dead-letter-queue.json
{
  "name": "Dead Letter Queue",
  "nodes": [
    {
      "id": "b2c3d4e5-2222-4000-8000-000000000001",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "parameters": {
        "path": "dead-letter",
        "httpMethod": "POST",
        "responseMode": "onReceived"
      },
      "webhookId": "dead-letter"
    },
    {
      "id": "b2c3d4e5-2222-4000-8000-000000000002",
      "name": "Format Dead Letter Record",
      "type": "n8n-nodes-base.code",
      "typeVersion": 3,
      "position": [500, 300],
      "parameters": {
        "language": "javaScript",
        "code": "const input = $input.first().json;\nconst now = new Date();\nconst dateStr = now.toISOString().slice(0, 10).replace(/-/g, '');\nconst seq = String(Math.floor(Math.random() * 999) + 1).padStart(3, '0');\n\nreturn [{\n  json: {\n    id: `DL-${dateStr}-${seq}`,\n    timestamp: now.toISOString(),\n    source_workflow: input.source_workflow || 'unknown',\n    source_node: input.source_node || 'unknown',\n    error_type: input.error_type || 'UNKNOWN',\n    error_message: input.error_message || input.message || 'No error message provided',\n    original_payload: input.original_payload || input.body || {},\n    retry_count: input.retries_exhausted || input.retry_count || 0,\n    status: 'pending_review'\n  }\n}];"
      }
    },
    {
      "id": "b2c3d4e5-2222-4000-8000-000000000003",
      "name": "Write to Dead Letter Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [750, 300],
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "columns": {
          "mappingMode": "autoMapInputData"
        },
        "options": {}
      }
    },
    {
      "id": "b2c3d4e5-2222-4000-8000-000000000004",
      "name": "Slack Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [1000, 300],
      "parameters": {
        "channel": "#error-alerts",
        "text": "=:rotating_light: *Dead Letter Alert*\n\n*ID:* {{ $json.id }}\n*Source:* {{ $json.source_workflow }} → {{ $json.source_node }}\n*Error:* {{ $json.error_type }} - {{ $json.error_message }}\n*Retries:* {{ $json.retry_count }}\n*Status:* {{ $json.status }}\n*Time:* {{ $json.timestamp }}",
        "otherOptions": {}
      }
    },
    {
      "id": "b2c3d4e5-2222-4000-8000-000000000005",
      "name": "Pattern: Dead Letter Queue",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [200, 50],
      "parameters": {
        "content": "## Dead Letter Queue Pattern\n\n**Purpose:** Failed items that exhaust all retries land here for structured logging and manual review.\n\n**Flow:**\n1. Webhook receives the failed item from upstream workflows\n2. Code node formats a standardized dead letter record with:\n   - Unique ID (DL-YYYYMMDD-NNN)\n   - Timestamp\n   - Source workflow and node\n   - Error type and message\n   - Original payload preserved\n   - Retry count\n   - Status: pending_review\n3. Google Sheets logs the record (configure your sheet)\n4. Slack sends an alert to #error-alerts\n\n**Setup:**\n- Connect Google Sheets credentials and set the spreadsheet/sheet\n- Connect Slack credentials and set the channel\n- Upstream workflows call this via webhook POST",
        "width": 400,
        "height": 320
      }
    },
    {
      "id": "b2c3d4e5-2222-4000-8000-000000000006",
      "name": "Usage Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [750, 50],
      "parameters": {
        "content": "## Configuration Required\n\n1. **Google Sheets:** Add credentials, select your spreadsheet and sheet name. Create columns matching the dead letter record fields.\n\n2. **Slack:** Add credentials and update the channel name.\n\n3. **Webhook URL:** Use this workflow's webhook URL as the dead-letter endpoint in your retry workflows.",
        "width": 350,
        "height": 200
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Format Dead Letter Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Dead Letter Record": {
      "main": [
        [
          {
            "node": "Write to Dead Letter Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write to Dead Letter Sheet": {
      "main": [
        [
          {
            "node": "Slack Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "tags": [
    {
      "name": "error-handling"
    },
    {
      "name": "dead-letter"
    }
  ]
}
