workflows/fallback-path.json
{
  "name": "Fallback Path - Graceful Degradation",
  "nodes": [
    {
      "id": "c3d4e5f6-3333-4000-8000-000000000001",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "parameters": {
        "path": "fallback-test",
        "httpMethod": "POST",
        "responseMode": "lastNode"
      },
      "webhookId": "fallback-test"
    },
    {
      "id": "c3d4e5f6-3333-4000-8000-000000000002",
      "name": "Primary Service Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [500, 300],
      "parameters": {
        "url": "={{ $json.body.primary_url || 'https://api.primary-service.com/data' }}",
        "method": "={{ $json.body.method || 'GET' }}",
        "options": {
          "timeout": 5000
        }
      },
      "continueOnFail": true
    },
    {
      "id": "c3d4e5f6-3333-4000-8000-000000000003",
      "name": "Primary OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [750, 300],
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.statusCode || 200 }}",
              "operation": "smaller",
              "value2": 400
            }
          ]
        }
      }
    },
    {
      "id": "c3d4e5f6-3333-4000-8000-000000000004",
      "name": "Primary Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 4,
      "position": [1000, 200],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "served-by",
              "name": "served_by",
              "value": "primary",
              "type": "string"
            },
            {
              "id": "degraded",
              "name": "degraded",
              "value": false,
              "type": "boolean"
            }
          ]
        },
        "options": {
          "includeBinary": false
        }
      }
    },
    {
      "id": "c3d4e5f6-3333-4000-8000-000000000005",
      "name": "Fallback Service Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1000, 450],
      "parameters": {
        "url": "={{ $('Webhook Trigger').first().json.body.fallback_url || 'https://api.fallback-service.com/data' }}",
        "method": "={{ $('Webhook Trigger').first().json.body.method || 'GET' }}",
        "options": {
          "timeout": 5000
        }
      },
      "continueOnFail": true
    },
    {
      "id": "c3d4e5f6-3333-4000-8000-000000000006",
      "name": "Fallback OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1250, 450],
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.statusCode || 200 }}",
              "operation": "smaller",
              "value2": 400
            }
          ]
        }
      }
    },
    {
      "id": "c3d4e5f6-3333-4000-8000-000000000007",
      "name": "Fallback Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 4,
      "position": [1500, 350],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "served-by-fb",
              "name": "served_by",
              "value": "fallback",
              "type": "string"
            },
            {
              "id": "degraded-fb",
              "name": "degraded",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "c3d4e5f6-3333-4000-8000-000000000008",
      "name": "All Services Down - Return Default",
      "type": "n8n-nodes-base.code",
      "typeVersion": 3,
      "position": [1500, 550],
      "parameters": {
        "language": "javaScript",
        "code": "// All services are down — return cached/default data\n// In production, this would read from a local cache or return safe defaults\nreturn [{\n  json: {\n    primary_service: { status: 'unavailable', error: 'timeout or error' },\n    fallback_service: { status: 'unavailable', error: 'timeout or error' },\n    served_by: 'default_cache',\n    degraded: true,\n    data: {\n      message: 'All upstream services unavailable. Returning cached/default data.',\n      cached_at: new Date().toISOString(),\n      client_id: null,\n      name: 'N/A'\n    }\n  }\n}];"
      }
    },
    {
      "id": "c3d4e5f6-3333-4000-8000-000000000009",
      "name": "Merge Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 1,
      "position": [1750, 300],
      "parameters": {
        "mode": "multiplex"
      }
    },
    {
      "id": "c3d4e5f6-3333-4000-8000-000000000010",
      "name": "Pattern: Fallback Path",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [200, 50],
      "parameters": {
        "content": "## Fallback Path — Graceful Degradation\n\n**Purpose:** When the primary downstream service is unavailable, fall back to a secondary service. If both fail, return cached/default data.\n\n**Flow:**\n1. Webhook receives the request\n2. Try primary service (continueOnFail = true)\n3. Check primary response status\n4. If primary OK → tag as served_by: primary\n5. If primary fails → try fallback service\n6. Check fallback response status\n7. If fallback OK → tag as served_by: fallback, degraded: true\n8. If fallback fails → return default/cached data\n9. Merge all paths into a single output\n\n**Key design:** Every path produces a response — the system never fails silently.",
        "width": 420,
        "height": 300
      }
    },
    {
      "id": "c3d4e5f6-3333-4000-8000-000000000011",
      "name": "Service URLs",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [500, 50],
      "parameters": {
        "content": "## Configuration\n\nPass URLs in the webhook body:\n```json\n{\n  \"primary_url\": \"https://api.primary.com/data\",\n  \"fallback_url\": \"https://api.fallback.com/data\",\n  \"method\": \"GET\"\n}\n```\n\nOr hardcode them in the HTTP Request nodes for fixed integrations.",
        "width": 350,
        "height": 180
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Primary Service Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Primary Service Request": {
      "main": [
        [
          {
            "node": "Primary OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Primary OK?": {
      "main": [
        [
          {
            "node": "Primary Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fallback Service Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Primary Success": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fallback Service Request": {
      "main": [
        [
          {
            "node": "Fallback OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fallback OK?": {
      "main": [
        [
          {
            "node": "Fallback Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "All Services Down - Return Default",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fallback Success": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "All Services Down - Return Default": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "tags": [
    {
      "name": "error-handling"
    },
    {
      "name": "fallback"
    }
  ]
}
