workflows/retry-with-backoff.json
{
  "name": "Retry with Exponential Backoff",
  "nodes": [
    {
      "id": "a1b2c3d4-1111-4000-8000-000000000001",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "parameters": {
        "path": "retry-test",
        "httpMethod": "POST",
        "responseMode": "onReceived"
      },
      "webhookId": "retry-test"
    },
    {
      "id": "a1b2c3d4-1111-4000-8000-000000000002",
      "name": "Initialize Retry Count",
      "type": "n8n-nodes-base.set",
      "typeVersion": 4,
      "position": [500, 300],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "retry-init",
              "name": "retryCount",
              "value": 0,
              "type": "number"
            },
            {
              "id": "max-retries",
              "name": "maxRetries",
              "value": 3,
              "type": "number"
            }
          ]
        },
        "options": {
          "includeBinary": false
        }
      }
    },
    {
      "id": "a1b2c3d4-1111-4000-8000-000000000003",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [750, 300],
      "parameters": {
        "url": "={{ $json.endpoint || 'https://api.example.com/data' }}",
        "method": "POST",
        "bodyParametersUi": {
          "parameter": []
        },
        "options": {
          "timeout": 5000,
          "allowUnauthorizedCerts": false
        }
      },
      "continueOnFail": true
    },
    {
      "id": "a1b2c3d4-1111-4000-8000-000000000004",
      "name": "Check for Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1000, 300],
      "parameters": {
        "conditions": {
          "boolean": [],
          "number": [
            {
              "value1": "={{ $json.statusCode }}",
              "operation": "largerEqual",
              "value2": 400
            }
          ]
        }
      }
    },
    {
      "id": "a1b2c3d4-1111-4000-8000-000000000005",
      "name": "Set Retry Count",
      "type": "n8n-nodes-base.set",
      "typeVersion": 4,
      "position": [1250, 200],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "increment-retry",
              "name": "retryCount",
              "value": "={{ $json.retryCount + 1 }}",
              "type": "number"
            },
            {
              "id": "keep-max",
              "name": "maxRetries",
              "value": "={{ $json.maxRetries }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-1111-4000-8000-000000000006",
      "name": "Check Retries Exhausted",
      "type": "n8n-nodes-base.code",
      "typeVersion": 3,
      "position": [1500, 200],
      "parameters": {
        "language": "javaScript",
        "code": "const retryCount = $input.first().json.retryCount;\nconst maxRetries = $input.first().json.maxRetries;\n\nif (retryCount >= maxRetries) {\n  return [{ json: { action: 'dead-letter', retryCount, maxRetries, message: 'Max retries exhausted. Routing to dead-letter queue.' } }];\n} else {\n  return [{ json: { action: 'retry', retryCount, maxRetries, message: `Retry ${retryCount} of ${maxRetries}. Backing off...` } }];\n}"
      }
    },
    {
      "id": "a1b2c3d4-1111-4000-8000-000000000007",
      "name": "Should Retry?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1750, 200],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.action }}",
              "operation": "equals",
              "value2": "retry"
            }
          ]
        }
      }
    },
    {
      "id": "a1b2c3d4-1111-4000-8000-000000000008",
      "name": "Backoff Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [2000, 100],
      "parameters": {
        "amount": "={{ Math.pow(2, $json.retryCount - 1) }}",
        "unit": "seconds"
      }
    },
    {
      "id": "a1b2c3d4-1111-4000-8000-000000000009",
      "name": "Route to Dead Letter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 3,
      "position": [2000, 350],
      "parameters": {
        "language": "javaScript",
        "code": "// Route failed item to dead-letter queue workflow\nconst item = $input.first().json;\nreturn [{\n  json: {\n    dead_letter: true,\n    timestamp: new Date().toISOString(),\n    retries_exhausted: item.maxRetries,\n    last_error: item.message,\n    original_payload: $('Webhook Trigger').first().json.body\n  }\n}];"
      }
    },
    {
      "id": "a1b2c3d4-1111-4000-8000-000000000010",
      "name": "Success - Pass Through",
      "type": "n8n-nodes-base.set",
      "typeVersion": 4,
      "position": [1250, 450],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "success-flag",
              "name": "status",
              "value": "success",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-1111-4000-8000-000000000011",
      "name": "Pattern: Retry with Exponential Backoff",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [200, 50],
      "parameters": {
        "content": "## Retry with Exponential Backoff\n\n**Pattern:** When an HTTP request fails (status >= 400), retry up to 3 times with increasing delays: 1s, 2s, 4s.\n\n**Flow:**\n1. Webhook receives the request\n2. Initialize retry counter at 0\n3. Make the HTTP request (continueOnFail = true)\n4. Check response status\n5. On error: increment counter, check if retries exhausted\n6. If retries remain: wait with exponential backoff, then retry\n7. If retries exhausted: route to dead-letter queue\n8. On success: pass through\n\n**Backoff formula:** `2^(retryCount - 1)` seconds\n- Retry 1: 1s delay\n- Retry 2: 2s delay\n- Retry 3: 4s delay\n\n**Key:** The Wait node uses an expression for dynamic delay calculation.",
        "width": 400,
        "height": 350
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Initialize Retry Count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize Retry Count": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Check for Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Error": {
      "main": [
        [
          {
            "node": "Set Retry Count",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Success - Pass Through",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Retry Count": {
      "main": [
        [
          {
            "node": "Check Retries Exhausted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Retries Exhausted": {
      "main": [
        [
          {
            "node": "Should Retry?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Retry?": {
      "main": [
        [
          {
            "node": "Backoff Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Route to Dead Letter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Backoff Wait": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "tags": [
    {
      "name": "error-handling"
    },
    {
      "name": "retry-pattern"
    }
  ]
}
